{% load static %}
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
            <h2>
              SOBRE MIM
            </h2>
            <p>
              Olá, sou um Analista Desenvolvedor de Sistemas e Entusiasta de Tecnologia de Minas Gerais, Brasil. Com anos de dedicação ininterrupta ao mundo da tecnologia, aprendi e cresci em múltiplas disciplinas. Minha paixão sempre foi explorar, aprender e mergulhar profundamente em cada área, incluindo manutenção, redes, programação, banco de dados, automação e machine learning. Esta ampla gama de interesses me permite enxergar as soluções tecnológicas de uma maneira única e integrada.
            </p>
            <p>
              Meu percurso profissional é marcado por uma constante busca de inovação e excelência técnica. Além de me aprofundar em diversas linguagens de programação, como JavaScript e Python, também me especializei em áreas emergentes, como inteligência artificial, machine learning e automação. Realizei projetos significativos na área de automação, utilizando Arduino e outras tecnologias para criar soluções inovadoras de controle e automação para residências e pequenos negócios. Estou sempre aberto à negociação de termos e valores, com o objetivo de garantir que os serviços prestados atendam às expectativas dos clientes. Meu compromisso é com a entrega de soluções de alta qualidade, sempre buscando aprimorar minhas habilidades e contribuir significativamente para projetos solicitados.
            </p>
          </div>
  
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
            <img src="{% static 'img/about/about.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
