{% url 'contact' as contact_url %}
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">E AGORA, O QUE VOCÊ PENSA?</h2>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Diante das demandas e desafios do mundo contemporâneo, surge uma pergunta inevitável: como podemos garantir o progresso e o bem-estar de todos? É hora de refletirmos sobre a importância das estratégias e das vantagens que os sistemas podem trazer, não apenas para o crescimento individual, mas também para o avanço coletivo de nossa nação. Vamos juntos construir um futuro mais promissor!</p>
                    <a href="{{ contact_url }}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Entre em Contato Comigo</a>
                </div>
            </div>
        </div>
    </div>
</section>