{% url 'contact' as contact_url %}
<section id="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">

          <!-- Slider -->
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
              <span>OLÁ, MEU NOME É JOÃO BATISTA &amp; EU SOU UM</span><br>
              <span class="cd-words-wrapper">
                <b class="is-visible">DESENVOLVEDOR</b>
                <b>ENTUSIASTA</b>
                <b>TECNÓLOGO</b>
              </span>
            </h1>
          </section> <!-- cd-intro -->
          <!-- /.slider -->
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
            Com mais de 10 anos de experiência, já desempenhei diversos papéis, incluindo desenvolvimento de software, técnico de manutenção e entusiasta da tecnologia. Este site mostra um pouco do meu trabalho e expertise.
          </h2>
          <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right"
            data-wow-delay=".9s" href="https://www.upwork.com/freelancers/~014bf7431e09f589de?viewMode=1" target="_blank">Baixar Mais</a>
        </div>
      </div>
    </div>
  </div>
</section>
