{% load static %}
{% url 'contact' as contact_url %}
<section id="hero-area-about" class="video-background">
  <video autoplay muted loop id="bg-video">
    <source src="{% static 'videos/clip.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">

          <!-- Slider -->
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
              <span>OLÁ, MEU NOME É JOÃO BATISTA &amp; EU SOU UM</span><br>
              <span class="cd-words-wrapper">
                <b class="is-visible">PAI</b>
                <b>FILHO</b>
                <b>IRMÂO</b>
                <b>TIO</b>
              </span>
            </h1>
          </section> <!-- cd-intro -->
          <!-- /.slider -->
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
            Como um pai apaixonado e eterno aprendiz da arte do código, me considero mais do que apenas um desenvolvedor. Sou um entusiasta tecnológico comprometido em explorar novos horizontes e alcançar o extraordinário
          </h2>
          <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right"
            data-wow-delay=".9s" href="https://www.upwork.com/freelancers/~014bf7431e09f589de?viewMode=1" target="_blank">Baixar Mais</a>
        </div>
      </div>
    </div>
  </div>
</section>
